<head>
   <meta charset="UTF-8">
   <meta name="viewpoint" content="width-device-width,initial-scale=1.0"> 
    <title>Login</title>
    <link rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
 <div class="wrapper">
    <form (ngSubmit)="onLoginSubmit(username.value, password.value)">
       <h1>Login</h1>
       <div class="input-box">
         <input #username type="text" placeholder="Username" required>
         <i class="bx bx-user"></i>
       </div>
       <div class="input-box">
         <input #password type="password" placeholder="Password" required>          
         <i class="bx bx-lock"></i>
       </div>
      <div class="remember-forgot">
       <label><input type="checkbox">Recordar datos</label>
       <a href="#">¿Olvidaste tu contraseña?</a> 
      </div> 
      <button type="button" (click)="onLoginSubmit('test', 'test')" class="btn">Login</button>
      <div class="register-link">
       <p>¿No tienes una cuenta? <a href="#">Registrarse</a></p>
      </div>
    </form>
 </div>
</body>